html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Banner*/
.banner-container {
    position: relative;
    text-align: center;
}
.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}
.image-container {
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/*Input*/
.form-format {
    background-color: #FFEED3;
    padding:30px;
    border-radius: 15px;
}
.input-box{
    max-width: 200px;
}
.color {
    background-color: #FFEED3
}
